@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap');

.header-text h1 {
    font-size: 81px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}



body::-webkit-scrollbar {
    display: none;
}

body {

    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.header-text p {

    margin-top: -40px;
    font-size: 40px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;

}

.phone-left h2{
    margin-right: 300px;
    margin-top: -650px;
    font-size: 40px;
    text-align: right;
    font-family: 'Nunito Sans', sans-serif;

}
.phone-left p{
    margin-right: 200px;
    font-size: 20px;
    text-align: right;
    font-family: 'Nunito Sans', sans-serif;

}
.phone-left img {

    margin: 200px auto;
    width: 1000px;
}


.phone-right{
    margin: 200px auto;
    width: 1000px;
}