@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap');

.header-text h1 {
    padding-top: 1200px;
    font-size: 80px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    user-select: none;
}



body::-webkit-scrollbar {
    display: none;
}

body {

    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.back-home a{
    color: rgb(172, 172, 172);
    position: relative;
    left: 1770px;
    transform: translateX(-1770px);
    bottom: 400px;
    transform: translateY(-400px);
    font-size: 30px;
    text-align: right;
    font-family: 'Nunito Sans', sans-serif;
    user-select: none;
    text-decoration: none;

}

.header-text {
    padding: 180px;
    user-select: none;
}

.game-1 {
    justify-content: space-between;
    user-select: none;

}

.header-text p {
    font-size: 40px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    user-select: none;

}

.phone-left h2 {
    display: inline;
    position: relative;
    left: 1200px;
    transform: translateX(-1200px);
    bottom: 1250px;
    transform: translateY(-1250px);
    font-size: 40px;
    text-align: right;
    font-family: 'Nunito Sans', sans-serif;

}

.phone-left p {
    display: inline;
    position: relative;
    left: 1100px;
    transform: translateX(-1100px);
    bottom: 1250px;
    transform: translateY(-1250px);
    font-size: 20px;
    text-align: right;
    font-family: 'Nunito Sans', sans-serif;

}

.phone-left img {
    margin-bottom: 830px;
    margin-right: 900px;
    width: 1000px;
}


.phone-right {
    width: 1000px;
}


.line-in-game-content{
    color: rgb(245, 241, 241);
    font-size: 100px;
    position: absolute;
    padding-bottom: 300px;
    right: 0;
    white-space: nowrap;
    z-index: -1;
    font-family: 'Roboto Slab', serif;
}


.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;




}


.slides {
    width: 500%;
    height: 500px;
    display: flex;

}


.slides input {
    display: none;





}













.slide {
    width: 20%;
    transition: 2s;

}

.slide img {
    width: 800px;
    height: 500px;
}


/* css for manual slide navigation */


.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}



.manual-btn {
    border: 2px solid rgb(245, 241, 241);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}


.manual-btn:not(:last-child){
    margin-right: 40px;

}

.manual-btn:hover{
    background: rgb(245, 241, 241);

}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
#radio6:checked ~ .first{
    margin-left: -100%;
}
#radio7:checked ~ .first{
    margin-left: -120%;
}
#radio8:checked ~ .first{
    margin-left: -140%;
}
#radio9:checked ~ .first{
    margin-left: -160%;
}
#radio10:checked ~ .first{
    margin-left: -180%;
}
#radio11:checked ~ .first{
    margin-left: -200%;
}
#radio12:checked ~ .first{
    margin-left: -220%;
}

/* css for atuomatic navigation */

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;

}

.navigation-auto div{
    border: 2px solid rgb(245, 241, 241);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}


.navigation-auto div:not(:last-child){
    margin-right: 40px;

}


#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(245, 241, 241);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(245, 241, 241);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(245, 241, 241);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: rgb(245, 241, 241);
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: rgb(245, 241, 241);
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background: rgb(245, 241, 241);
}
#radio7:checked ~ .navigation-auto .auto-btn7{
    background: rgb(245, 241, 241);
}
#radio8:checked ~ .navigation-auto .auto-btn8{
    background: rgb(245, 241, 241);
}
#radio9:checked ~ .navigation-auto .auto-btn9{
    background: rgb(245, 241, 241);
}
#radio10:checked ~ .navigation-auto .auto-btn10{
    background: rgb(245, 241, 241);
}
#radio11:checked ~ .navigation-auto .auto-btn11{
    background: rgb(245, 241, 241);
}
#radio12:checked ~ .navigation-auto .auto-btn12{
    background: rgb(245, 241, 241);
}



